### Data ###

In [1]:
import xray

In [2]:
ds = xray.open_dataset('/Users/eapsclimate/Desktop/research/website/tracks.20130125.nc', decode_cf=False)
ds = ds.to_dataframe()

### Python ###

In [3]:
import datetime
import jdcal
import numpy as np
import pandas as pd

In [4]:
ds.head(4)

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364

In [5]:
N = max(ds.track)

In [6]:
track = np.asarray(ds.track)
n = np.asarray(ds.n)

arrays = [track, n]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['track', 'n'])

In [7]:
j1 = np.asarray(ds.j1)
cyc = np.asarray(ds.cyc)
lon = np.asarray(ds.lon)
lat = np.asarray(ds.lat)
A = np.asarray(ds.A)
L = np.asarray(ds.L)
U = np.asarray(ds.U)

info = np.zeros((len(n), 7))
for i in range(0, len(n)):
    info[i][0] = j1[i]
    info[i][1] = cyc[i]
    info[i][2] = lon[i]
    info[i][3] = lat[i]
    info[i][4] = A[i]
    info[i][5] = L[i]
    info[i][6] = U[i]

In [8]:
df = pd.DataFrame(info, index=multi_index)
df.columns = ['j1', 'cyc', 'lon','lat', 'A', 'L', 'U']

In [9]:
df.head(4)

              j1  cyc         lon        lat        A          L        U
track n
1     1  2448910   -1  636.739990 -65.001099  1.24564  44.464001  5.97993
      2  2448917   -1  635.989990 -65.137604  2.64604  36.702400  8.17373
      3  2448924   -1  635.820007 -65.245697  3.40119  45.422100  8.28628
      4  2448931   -1  635.844971 -65.293297  1.45836  43.021999  5.20364

In [10]:
def jday_to_datetime(jday, refday=0):
    y, m, d, f = jdcal.jd2gcal(jday, refday)
    h = int(f*24)
    return pd.to_datetime(datetime.datetime(y, m, d, h))

In [11]:
pd_date = df.j1.apply(jday_to_datetime)

In [12]:
df.j1 = pd_date
df = df.rename(columns = {'j1':'date'})

In [13]:
df.head(4)

                       date  cyc         lon        lat        A          L  \
track n
1     1 1992-10-14 12:00:00   -1  636.739990 -65.001099  1.24564  44.464001
      2 1992-10-21 12:00:00   -1  635.989990 -65.137604  2.64604  36.702400
      3 1992-10-28 12:00:00   -1  635.820007 -65.245697  3.40119  45.422100
      4 1992-11-04 12:00:00   -1  635.844971 -65.293297  1.45836  43.021999

               U
track n
1     1  5.97993
      2  8.17373
      3  8.28628
      4  5.20364

In [14]:
lon_fix_01 = df.where(df.lon <= 540).lon - 360
lon_fix_02 = df.where(df.lon > 540).lon - 720

lon_fix = lon_fix_01
lon_fix = lon_fix.fillna(lon_fix_02)
df.lon = lon_fix

In [15]:
df.head(4)

                       date  cyc        lon        lat        A          L  \
track n
1     1 1992-10-14 12:00:00   -1 -83.260010 -65.001099  1.24564  44.464001
      2 1992-10-21 12:00:00   -1 -84.010010 -65.137604  2.64604  36.702400
      3 1992-10-28 12:00:00   -1 -84.179993 -65.245697  3.40119  45.422100
      4 1992-11-04 12:00:00   -1 -84.155029 -65.293297  1.45836  43.021999

               U
track n
1     1  5.97993
      2  8.17373
      3  8.28628
      4  5.20364

__Lines__

In [16]:
track = np.asarray(ds.track)
n = np.asarray(ds.n)

arrays = [track, n]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['track', 'n'])

In [17]:
lon = np.asarray(df.lon)
lat = np.asarray(df.lat)
coordinate = np.zeros((len(n), 2))

for i in range(0, len(n)):
    coordinate[i][0] = lon[i]
    coordinate[i][1] = lat[i]

In [18]:
line = pd.DataFrame(coordinate, index=multi_index, columns=['lon', 'lat'])

In [19]:
line.head(4)

               lon        lat
track n
1     1 -83.260010 -65.001099
      2 -84.010010 -65.137604
      3 -84.179993 -65.245697
      4 -84.155029 -65.293297

__Polygons__

In [20]:
ds.head(4)

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364

In [21]:
count = ds.track
count = count.value_counts(normalize=False, sort=True, ascending=True, bins=None, dropna=False).reindex(range(1, N+1))
count = pd.DataFrame(count)
count.columns = ['point']

In [22]:
count.head(4)

   point
1      4
2      4
3      4
4      4

In [23]:
lon = np.asarray(df.lon)
lat = np.asarray(df.lat)
radius = np.asarray(df.L)
point = np.asarray(count.point)

In [24]:
lon_o = np.zeros((N, 1))
lat_o = np.zeros((N, 1))
L_o = np.zeros((N, 1))

lon_t = np.zeros((N, 1))
lat_t = np.zeros((N, 1))
L_t = np.zeros((N, 1))

In [25]:
i = 0
c = 0

while i < len(n):
    c = int(c) + 1
    lon_o[c-1] = lon[i]
    lat_o[c-1] = lat[i]
    L_o[c-1] = radius[i]
    i = i + int(point[c-1])
    lon_t[c-1] = lon[i-1]
    lat_t[c-1] = lat[i-1]
    L_t[c-1] = radius[i-1]

In [26]:
lon_o = pd.DataFrame(lon_o)
lat_o = pd.DataFrame(lat_o)
L_o = pd.DataFrame(L_o)

lon_t = pd.DataFrame(lon_t)
lat_t = pd.DataFrame(lat_t)
L_t = pd.DataFrame(L_t)

In [27]:
co = pd.concat([lon_o, lat_o, L_o], axis=1)
co.columns = ['lon', 'lat', 'L']

ct = pd.concat([lon_t, lat_t, L_t], axis=1)
ct.columns = ['lon', 'lat', 'L']

In [28]:
co.head(4)

          lon        lat          L
0  -83.260010 -65.001099  44.464001
1 -159.357971 -62.542400  63.069698
2  164.956970 -60.751999  66.748398
3  129.165985 -61.428299  76.040703

In [29]:
ct.head(4)

          lon        lat          L
0  -84.155029 -65.293297  43.021999
1 -159.156006 -62.726101  55.183399
2  166.448975 -61.454601  94.783096
3  128.390015 -61.127899  59.744499

In [30]:
N = max(ds.track)
M = N*17

In [31]:
circle = np.zeros(M)
arc = np.zeros(M)

In [32]:
i = 0
j = 1
c = 1

while i < M:
    while c <= 17:
        circle[i] = j
        i = i+1
        c = c+1
    j = j+1
    c = 1

In [33]:
circle = circle.astype(int)

In [34]:
i = 0
j = 1
c = 1

while i < M:
    while c <= 17:
        arc[i] = j
        i = i+1
        j = j+1
        c = c+1
    j = 1
    c = 1

In [35]:
arc = arc.astype(int)

In [36]:
arrays = [circle, arc]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['circle', 'arc'])

In [37]:
from numpy import pi
from numpy import sin
from numpy import cos

In [38]:
R = 6371
N = max(ds.track)
M = N*17

__(1) Origins__

In [39]:
lon = np.asarray(co.lon)
lat = np.asarray(co.lat)
L = np.asarray(co.L)

In [40]:
theta = np.zeros(N)
r = np.zeros(N)
x = np.zeros(N)
y = np.zeros(N)

In [41]:
for i in range(0, N):
    theta[i] = lat[i]*(pi/180)
    r[i] = R*cos(theta[i])
    x[i] = (L[i]/r[i])*(180/pi)
    y[i] = (L[i]/R)*(180/pi)

In [42]:
cpo_lon = np.zeros(M)
cpo_lat = np.zeros(M)
cpo_x = np.zeros(M)
cpo_y = np.zeros(M)

In [43]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpo_lon[i] = lon[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [44]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpo_lat[i] = lat[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [45]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpo_x[i] = x[c]*cos((j-1)*(pi/8))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [46]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpo_y[i] = y[c]*sin((j-1)*(pi/8))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [47]:
cpo = np.zeros((M, 2))

In [48]:
for i in range(0, M):
    cpo[i][0] = cpo_lon[i]+cpo_x[i]
    cpo[i][1] = cpo_lat[i]+cpo_y[i]

In [49]:
cpo = pd.DataFrame(cpo, index=multi_index)
cpo.columns = ['lon','lat']

In [50]:
cpo.head(17)

                  lon        lat
circle arc
1      1   -82.313788 -65.001099
       2   -82.385814 -64.848073
       3   -82.590930 -64.718345
       4   -82.897906 -64.631663
       5   -83.260010 -64.601224
       6   -83.622113 -64.631663
       7   -83.929090 -64.718345
       8   -84.134205 -64.848073
       9   -84.206232 -65.001099
       10  -84.134205 -65.154124
       11  -83.929090 -65.283853
       12  -83.622113 -65.370534
       13  -83.260010 -65.400973
       14  -82.897906 -65.370534
       15  -82.590930 -65.283853
       16  -82.385814 -65.154124
       17  -82.313788 -65.001099

__(2) Terminations__

In [51]:
lon = np.asarray(ct.lon)
lat = np.asarray(ct.lat)
L = np.asarray(ct.L)

In [52]:
theta = np.zeros(N)
r = np.zeros(N)
x = np.zeros(N)
y = np.zeros(N)

In [53]:
for i in range(0, N):
    theta[i] = lat[i]*(pi/180)
    r[i] = R*cos(theta[i])
    x[i] = (L[i]/r[i])*(180/pi)
    y[i] = (L[i]/R)*(180/pi)

In [54]:
cpt_lon = np.zeros(M)
cpt_lat = np.zeros(M)
cpt_x = np.zeros(M)
cpt_y = np.zeros(M)

In [55]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpt_lon[i] = lon[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [56]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpt_lat[i] = lat[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [57]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpt_x[i] = x[c]*cos((j-1)*(pi/8))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [58]:
i = 0
j = 1
c = 0

while i < M:
    while j <= 17:
        cpt_y[i] = y[c]*sin((j-1)*(pi/8))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [59]:
cpt = np.zeros((M, 2))

In [60]:
for i in range(0, M):
    cpt[i][0] = cpt_lon[i]+cpt_x[i]
    cpt[i][1] = cpt_lat[i]+cpt_y[i]

In [61]:
cpt = pd.DataFrame(cpt, index=multi_index)
cpt.columns = ['lon','lat']

In [62]:
cpt.head(17)

                  lon        lat
circle arc
1      1   -83.229358 -65.293297
       2   -83.299820 -65.145234
       3   -83.500481 -65.019713
       4   -83.800790 -64.935842
       5   -84.155029 -64.906391
       6   -84.509269 -64.935842
       7   -84.809578 -65.019713
       8   -85.010238 -65.145234
       9   -85.080701 -65.293297
       10  -85.010238 -65.441359
       11  -84.809578 -65.566881
       12  -84.509269 -65.650751
       13  -84.155029 -65.680203
       14  -83.800790 -65.650751
       15  -83.500481 -65.566881
       16  -83.299820 -65.441359
       17  -83.229358 -65.293297

### MongoDB ###

In [63]:
from pymongo import MongoClient
from tqdm import tqdm

In [64]:
client = MongoClient()
db = client.ocean

In [65]:
for _, group in tqdm(line.groupby(level=0)):
    feature = {"type": "Feature", "geometry": {"type": "Linestring", "coordinates": None}}
    feature["geometry"]["coordinates"] = group.to_json(orient='values')
    result = db.ocean.insert_one(feature)

100%|██████████| 215184/215184 [06:47<00:00, 528.02it/s]

In [66]:
for _, group in tqdm(cpo.groupby(level=0)):
    feature = {"type": "Feature", "geometry": {"type": "Polygon", "coordinates": None}}
    feature["geometry"]["coordinates"] = group.to_json(orient='values')
    result = db.ocean.insert_one(feature)

100%|██████████| 215184/215184 [06:41<00:00, 535.53it/s]

In [67]:
for _, group in tqdm(cpt.groupby(level=0)):
    feature = {"type": "Feature", "geometry": {"type": "Polygon", "coordinates": None}}
    feature["geometry"]["coordinates"] = group.to_json(orient='values')
    result = db.ocean.insert_one(feature)

100%|██████████| 215184/215184 [05:38<00:00, 635.23it/s]