### data ###

In [1]:
import xarray as xr

In [2]:
# xarray dataset
ds = xr.open_dataset('/home/cz2397/data/ssh-eddies/tracks_AVISO_DT2014_daily_web.nc', decode_cf=False)
ds

<xarray.Dataset>
Dimensions:  (Nobs: 22510604)
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Data variables:
    track    (Nobs) int32 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...
    n        (Nobs) int32 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...
    j1       (Nobs) int32 2448989 2448990 2448991 2448992 2448993 2448994 ...
    cyc      (Nobs) int32 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...
    lon      (Nobs) float32 397.041 397.016 397.004 396.971 396.945 396.917 ...
    lat      (Nobs) float32 -21.7194 -21.7603 -21.7977 -21.8521 -21.8712 ...
    A        (Nobs) float32 31.4731 30.2156 28.8172 28.7913 27.7412 26.2385 ...
    L        (Nobs) float32 146.739 138.674 137.84 136.146 136.12 132.704 ...
    U        (Nobs) float32 79.1484 79.1413 78.5321 77.2414 77.7051 75.3127 ...
Attributes:
    title: Mesoscale Eddies in Altimeter Observations of SSH
    institution: Oregon State University/CEOAS
    file_name: tracks_AVISO_DT2014_daily.v0.1_web.ascii.nc
    file_creation_time: 2016Jul13 10:33:14
    data_start_date: Jan  1, 1993
    data_end_date: Apr 23, 2015
    authors: Dudley Chelton and Michael Schlax
    inquiries_to: Eric Beals (beals@coas.oregonstate.edu)

In [3]:
# track number
ds.track

<xarray.DataArray 'track' (Nobs: 22510604)>
[22510604 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: ordinal
    min: 1
    max: 245389
    long_name: track number
    description: eddy identification number

In [4]:
# observation number
ds.n

<xarray.DataArray 'n' (Nobs: 22510604)>
[22510604 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: ordinal
    min: 28
    max: 2197
    long_name: observation number
    description: observation sequence number (1 day intervals)

In [5]:
# julian date
ds.j1

<xarray.DataArray 'j1' (Nobs: 22510604)>
[22510604 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: days
    min: 2448989
    max: 2457136
    long_name: Julian date
    description: date of this observation
    reference: 2448623
    reference_description: Julian date at Jan 1, 1992

In [6]:
# cyclonic
ds.cyc

<xarray.DataArray 'cyc' (Nobs: 22510604)>
[22510604 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: boolean
    min: -1
    max: 1
    long_name: cyclonic
    description: cyclonic -1; anti-cyclonic +1

In [7]:
# longitude
ds.lon

<xarray.DataArray 'lon' (Nobs: 22510604)>
[22510604 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: degrees east
    min: 262.949
    max: 649.179
    long_name: longitude
    description: longitude of this observation
    note: To avoid jumps of ~360 deg in eddy tracks when the trajectory wraps around a longitude branch point that might lie in a region of interest, the longitude domain is set to 260E-650E. With this range, the only eddies with trajectories that might be affected will be those passing through the Drake Passage.

In [8]:
# latitude
ds.lat

<xarray.DataArray 'lat' (Nobs: 22510604)>
[22510604 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: degrees north
    min: -77.3894
    max: 79.2183
    long_name: latitude
    description: latitude of this observation (negative for southern hemisphere)

In [9]:
# amplitude
ds.A

<xarray.DataArray 'A' (Nobs: 22510604)>
[22510604 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: cm
    min: 1.0
    max: 48.4769
    long_name: amplitude
    description: magnitude of the height difference between the extremum of SSH within the eddy and the SSH around the contour defining the eddy perimeter

In [10]:
# radius scale
ds.L

<xarray.DataArray 'L' (Nobs: 22510604)>
[22510604 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: km
    min: 8.93032
    max: 444.603
    long_name: radius scale
    description: radius of a circle whose area is equal to that enclosed by the contour of maximum circum-average speed

In [11]:
# maximum circum-averaged speed
ds.U

<xarray.DataArray 'U' (Nobs: 22510604)>
[22510604 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: cm/sec
    min: 1.08407
    max: 671.569
    long_name: maximum circum-averaged speed
    description: average speed of the contour defining the radius scale L

### multi-index ###

In [12]:
from tqdm import tqdm
import numpy as np
import pandas as pd

In [13]:
df = ds.to_dataframe()

In [14]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448989,1,397.040985,-21.719400,31.473101,146.738998,79.148399
1,1,2,2448990,1,397.015991,-21.760300,30.215599,138.673996,79.141296
2,1,3,2448991,1,397.003998,-21.797701,28.817200,137.839996,78.532097
3,1,4,2448992,1,396.971008,-21.852100,28.791300,136.145996,77.241402
4,1,5,2448993,1,396.945007,-21.871201,27.741199,136.119995,77.705101

In [15]:
# track number
tra_num = max(df.track)
tra_num

245389

In [50]:
# observation number
obs_num = len(df.n)
obs_num

22510604

In [17]:
track = np.asarray(df.track)
n = np.asarray(df.n)

In [18]:
# multi-index construction
arrays = [track, n]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['track-id', 'point-id'])

In [19]:
j1 = np.asarray(df.j1)
cyc = np.asarray(df.cyc)
lon = np.asarray(df.lon)
lat = np.asarray(df.lat)
A = np.asarray(df.A)
L = np.asarray(df.L)
U = np.asarray(df.U)

In [20]:
matrix = np.zeros((obs_num, 7))

In [21]:
for i in tqdm(range(obs_num)):
    matrix[i][0] = j1[i]
    matrix[i][1] = cyc[i]
    matrix[i][2] = lon[i]
    matrix[i][3] = lat[i]
    matrix[i][4] = A[i]
    matrix[i][5] = L[i]
    matrix[i][6] = U[i]

100%|██████████| 22510604/22510604 [01:04<00:00, 350682.04it/s]

In [22]:
DF = pd.DataFrame(matrix, index=multi_index)
DF.columns = ['j1', 'cyc', 'lon', 'lat', 'A', 'L', 'U']

In [23]:
DF.head()

                        j1  cyc         lon        lat          A           L  \
track-id point-id
1        1         2448989    1  397.040985 -21.719400  31.473101  146.738998
         2         2448990    1  397.015991 -21.760300  30.215599  138.673996
         3         2448991    1  397.003998 -21.797701  28.817200  137.839996
         4         2448992    1  396.971008 -21.852100  28.791300  136.145996
         5         2448993    1  396.945007 -21.871201  27.741199  136.119995

                           U
track-id point-id
1        1         79.148399
         2         79.141296
         3         78.532097
         4         77.241402
         5         77.705101

### time ###

In [24]:
import datetime, jdcal

In [25]:
def jday_to_datetime(jday, refday=0):
    y, m, d, f = jdcal.jd2gcal(jday, refday)
    h = int(f*24)
    return pd.to_datetime(datetime.datetime(y, m, d, h))

In [26]:
date_fix = DF.j1.apply(jday_to_datetime)

In [27]:
DF.j1 = date_fix
DF = DF.rename(columns = {'j1': 'date'})

In [28]:
DF.head()

                                 date  cyc         lon        lat          A  \
track-id point-id
1        1        1993-01-01 12:00:00    1  397.040985 -21.719400  31.473101
         2        1993-01-02 12:00:00    1  397.015991 -21.760300  30.215599
         3        1993-01-03 12:00:00    1  397.003998 -21.797701  28.817200
         4        1993-01-04 12:00:00    1  396.971008 -21.852100  28.791300
         5        1993-01-05 12:00:00    1  396.945007 -21.871201  27.741199

                            L          U
track-id point-id
1        1         146.738998  79.148399
         2         138.673996  79.141296
         3         137.839996  78.532097
         4         136.145996  77.241402
         5         136.119995  77.705101

### longitude ###

In [29]:
# longitude range setting
# from -180 to 180
lon_fix_a1 = DF.where(DF.lon < 540).lon - 360
lon_fix_a2 = DF.where(DF.lon >= 540).lon - 720
lon_fix_a = lon_fix_a1
lon_fix_a = lon_fix_a.fillna(lon_fix_a2)
DF.lon = lon_fix_a

In [30]:
DF.head()

                                 date  cyc        lon        lat          A  \
track-id point-id
1        1        1993-01-01 12:00:00    1  37.040985 -21.719400  31.473101
         2        1993-01-02 12:00:00    1  37.015991 -21.760300  30.215599
         3        1993-01-03 12:00:00    1  37.003998 -21.797701  28.817200
         4        1993-01-04 12:00:00    1  36.971008 -21.852100  28.791300
         5        1993-01-05 12:00:00    1  36.945007 -21.871201  27.741199

                            L          U
track-id point-id
1        1         146.738998  79.148399
         2         138.673996  79.141296
         3         137.839996  78.532097
         4         136.145996  77.241402
         5         136.119995  77.705101

In [31]:
# longitude range setting
# from 0 to 360
lon_fix_b1 = DF.where(DF.lon < 0).lon + 360
lon_fix_b2 = DF.where(DF.lon >= 0).lon
lon_fix_b = lon_fix_b1
lon_fix_b = lon_fix_b.fillna(lon_fix_b2)
DF.lon = lon_fix_b

In [32]:
DF.head()

                                 date  cyc        lon        lat          A  \
track-id point-id
1        1        1993-01-01 12:00:00    1  37.040985 -21.719400  31.473101
         2        1993-01-02 12:00:00    1  37.015991 -21.760300  30.215599
         3        1993-01-03 12:00:00    1  37.003998 -21.797701  28.817200
         4        1993-01-04 12:00:00    1  36.971008 -21.852100  28.791300
         5        1993-01-05 12:00:00    1  36.945007 -21.871201  27.741199

                            L          U
track-id point-id
1        1         146.738998  79.148399
         2         138.673996  79.141296
         3         137.839996  78.532097
         4         136.145996  77.241402
         5         136.119995  77.705101

### radius ###

In [33]:
radius_fix = DF.L*1000
DF.L = radius_fix
DF = DF.rename(columns = {'L': 'radius'})

In [34]:
DF.head()

                                 date  cyc        lon        lat          A  \
track-id point-id
1        1        1993-01-01 12:00:00    1  37.040985 -21.719400  31.473101
         2        1993-01-02 12:00:00    1  37.015991 -21.760300  30.215599
         3        1993-01-03 12:00:00    1  37.003998 -21.797701  28.817200
         4        1993-01-04 12:00:00    1  36.971008 -21.852100  28.791300
         5        1993-01-05 12:00:00    1  36.945007 -21.871201  27.741199

                          radius          U
track-id point-id
1        1         146738.998413  79.148399
         2         138673.995972  79.141296
         3         137839.996338  78.532097
         4         136145.996094  77.241402
         5         136119.995117  77.705101

### geojson-point ###

In [35]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448989,1,397.040985,-21.719400,31.473101,146.738998,79.148399
1,1,2,2448990,1,397.015991,-21.760300,30.215599,138.673996,79.141296
2,1,3,2448991,1,397.003998,-21.797701,28.817200,137.839996,78.532097
3,1,4,2448992,1,396.971008,-21.852100,28.791300,136.145996,77.241402
4,1,5,2448993,1,396.945007,-21.871201,27.741199,136.119995,77.705101

In [51]:
count = df.track
count = count.value_counts(normalize=False, sort=True, ascending=True, bins=None, dropna=False).reindex(range(1, tra_num+1))
count = pd.DataFrame(count)
count.index.name = 'track-id'
count.columns = ['obs-num']

In [52]:
count.head()

          obs-num
track-id
1              28
2              28
3              28
4              28
5              28

In [53]:
lon = np.asarray(DF.lon)
lat = np.asarray(DF.lat)
point = np.asarray(count['obs-num'])

In [54]:
# origin coordinates
lon_ori = np.zeros(tra_num)
lat_ori = np.zeros(tra_num)

In [55]:
# termination coordinates
lon_ter = np.zeros(tra_num)
lat_ter = np.zeros(tra_num)

In [56]:
c = 0
i = 0

while i < obs_num:
    c = int(c) + 1
    lon_ori[c-1] = lon[i]
    lat_ori[c-1] = lat[i]
    i = i + int(point[c-1])
    lon_ter[c-1] = lon[i-1]
    lat_ter[c-1] = lat[i-1]

In [57]:
lon_ori = pd.DataFrame(lon_ori)
lat_ori = pd.DataFrame(lat_ori)
lon_ter = pd.DataFrame(lon_ter)
lat_ter = pd.DataFrame(lat_ter)

In [58]:
# index construction
index = np.zeros(tra_num)
for i in range(tra_num):
    index[i] = i+1
index = pd.DataFrame(index)
index = index.astype(int)

In [59]:
# start center
sta_cen = pd.concat([index, lon_ori, lat_ori], axis=1)
sta_cen.columns = ['track-id', 'lon', 'lat']
sta_cen = sta_cen.set_index('track-id')

In [60]:
sta_cen.head()

                 lon        lat
track-id
1          37.040985 -21.719400
2          18.220001 -36.250702
3          85.252014 -43.040501
4         285.161987  32.524799
5         151.941010 -53.202301

In [61]:
# end center
end_cen = pd.concat([index, lon_ter, lat_ter], axis=1)
end_cen.columns = ['track-id', 'lon', 'lat']
end_cen = end_cen.set_index('track-id')

In [62]:
end_cen.head()

                 lon        lat
track-id
1          36.358002 -22.674101
2          19.826996 -37.270302
3          85.148010 -42.875401
4         284.404999  32.422901
5         151.738007 -51.564400

### geojson-linestring ###

In [63]:
lin_str = np.zeros((obs_num, 2))

In [64]:
lon = np.asarray(DF.lon)
lat = np.asarray(DF.lat)

In [65]:
for i in range(obs_num):
    lin_str[i][0] = lon[i]
    lin_str[i][1] = lat[i]

In [66]:
lin_str = pd.DataFrame(lin_str, index=multi_index, columns=['lon', 'lat'])

In [69]:
lin_str.head()

                         lon        lat
track-id point-id
1        1         37.040985 -21.719400
         2         37.015991 -21.760300
         3         37.003998 -21.797701
         4         36.971008 -21.852100
         5         36.945007 -21.871201

### geojson-polygon ###

In [70]:
from numpy import cos, pi, sin

In [72]:
rad = np.asarray(DF.radius)
point = np.asarray(count['obs-num'])

In [73]:
rad_ori = np.zeros(tra_num)
rad_ter = np.zeros(tra_num)

In [74]:
c = 0
i = 0

while i < obs_num:
    c = int(c) + 1
    rad_ori[c-1] = L[i]
    i = i + int(point[c-1])
    rad_ter[c-1] = L[i-1]

In [75]:
rad_ori = pd.DataFrame(rad_ori)
rad_ter = pd.DataFrame(rad_ter)

In [76]:
# start circle
sta_cir = pd.concat([index, lon_ori, lat_ori, rad_ori], axis=1)
sta_cir.columns = ['track-id', 'lon', 'lat', 'radius']
sta_cir = sta_cir.set_index('track-id')

In [77]:
sta_cir.head()

                 lon        lat      radius
track-id
1          37.040985 -21.719400  146.738998
2          18.220001 -36.250702   73.262398
3          85.252014 -43.040501   78.260902
4         285.161987  32.524799   92.312897
5         151.941010 -53.202301  117.158997

In [78]:
# end circle
end_cir = pd.concat([index, lon_ter, lat_ter, rad_ter], axis=1)
end_cir.columns = ['track-id', 'lon', 'lat', 'radius']
end_cir = end_cir.set_index('track-id')

In [79]:
end_cir.head()

                 lon        lat     radius
track-id
1          36.358002 -22.674101  45.235600
2          19.826996 -37.270302  48.539200
3          85.148010 -42.875401  44.595001
4         284.404999  32.422901  61.198898
5         151.738007 -51.564400  47.947701

In [80]:
# circle center number
cen_num = tra_num

In [82]:
# circle arc number
arc_num = tra_num*33

In [83]:
center = np.zeros(arc_num)
arc = np.zeros(arc_num)

In [84]:
c = 1
i = 0
j = 1

while i < arc_num:
    while c <= 33:
        center[i] = j
        i = i+1
        c = c+1
    j = j+1
    c = 1

In [85]:
center = center.astype(int)

In [86]:
c = 1
i = 0
j = 1

while i < arc_num:
    while c <= 33:
        arc[i] = j
        i = i+1
        j = j+1
        c = c+1
    j = 1
    c = 1

In [87]:
arc = arc.astype(int)

In [88]:
# multi-index construction
arrays = [center, arc]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['center', 'arc'])

In [89]:
# earth radius in meters
R = 6371*1000

__Start Polygon__

In [90]:
lon = np.asarray(sta_cir.lon)
lat = np.asarray(sta_cir.lat)
radius = np.asarray(sta_cir.radius)

In [91]:
theta = np.zeros(cen_num)
x = np.zeros(cen_num)
y = np.zeros(cen_num)
r = np.zeros(cen_num)

In [92]:
for i in range(cen_num):
    theta[i] = lat[i]*(pi/180)
    r[i] = R*cos(theta[i])
    x[i] = (radius[i]/r[i])*(180/pi)
    y[i] = (radius[i]/R)*(180/pi)

In [93]:
lon_sta_pol = np.zeros(arc_num)
lat_sta_pol = np.zeros(arc_num)
x_sta_pol = np.zeros(arc_num)
y_sta_pol = np.zeros(arc_num)

In [94]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lon_sta_pol[i] = lon[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [95]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lat_sta_pol[i] = lat[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [96]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        x_sta_pol[i] = x[c]*cos((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [97]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        y_sta_pol[i] = y[c]*sin((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [98]:
sta_pol = np.zeros((arc_num, 2))

In [99]:
for i in range(arc_num):
    sta_pol[i][0] = lon_sta_pol[i]+x_sta_pol[i]
    sta_pol[i][1] = lat_sta_pol[i]+y_sta_pol[i]

In [100]:
# start polygon
sta_pol = pd.DataFrame(sta_pol, index=multi_index)
sta_pol.columns = ['lon', 'lat']

In [101]:
sta_pol.head()

                  lon        lat
center arc
1      1    37.042406 -21.719400
       2    37.042378 -21.719143
       3    37.042297 -21.718895
       4    37.042166 -21.718667
       5    37.041990 -21.718467

__end polygon__

In [104]:
lon = np.asarray(end_cir.lon)
lat = np.asarray(end_cir.lat)
radius = np.asarray(end_cir.radius)

In [105]:
theta = np.zeros(cen_num)
r = np.zeros(cen_num)
x = np.zeros(cen_num)
y = np.zeros(cen_num)

In [106]:
for i in range(cen_num):
    theta[i] = lat[i]*(pi/180)
    r[i] = R*cos(theta[i])
    x[i] = (radius[i]/r[i])*(180/pi)
    y[i] = (radius[i]/R)*(180/pi)

In [107]:
lon_end_pol = np.zeros(arc_num)
lat_end_pol = np.zeros(arc_num)
x_end_pol = np.zeros(arc_num)
y_end_pol = np.zeros(arc_num)

In [108]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lon_end_pol[i] = lon[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [109]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lat_end_pol[i] = lat[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [110]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        x_end_pol[i] = x[c]*cos((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [111]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        y_end_pol[i] = y[c]*sin((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [112]:
end_pol = np.zeros((arc_num, 2))

In [113]:
for i in range(arc_num):
    end_pol[i][0] = lon_end_pol[i]+x_end_pol[i]
    end_pol[i][1] = lat_end_pol[i]+y_end_pol[i]

In [114]:
# end polygon
end_pol = pd.DataFrame(end_pol, index=multi_index)
end_pol.columns = ['lon', 'lat']

In [115]:
end_pol.head()

                  lon        lat
center arc
1      1    36.358443 -22.674101
       2    36.358434 -22.674022
       3    36.358409 -22.673945
       4    36.358368 -22.673875
       5    36.358313 -22.673813

### id ###

In [117]:
_id = pd.DataFrame(index)
_id = pd.concat([index, index], axis=1)
_id.columns = ['track-id', 'id']
_id = _id.set_index('track-id')

In [118]:
_id.head()

          id
track-id
1          1
2          2
3          3
4          4
5          5

### date ###

In [120]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448989,1,397.040985,-21.719400,31.473101,146.738998,79.148399
1,1,2,2448990,1,397.015991,-21.760300,30.215599,138.673996,79.141296
2,1,3,2448991,1,397.003998,-21.797701,28.817200,137.839996,78.532097
3,1,4,2448992,1,396.971008,-21.852100,28.791300,136.145996,77.241402
4,1,5,2448993,1,396.945007,-21.871201,27.741199,136.119995,77.705101

In [121]:
j1 = np.asarray(df.j1)

In [122]:
j1_ori = np.zeros(tra_num)
j1_ter = np.zeros(tra_num)

In [123]:
c = 0
i = 0

while i < obs_num:
    c = int(c) + 1
    j1_ori[c-1] = j1[i]
    i = i + int(point[c-1])
    j1_ter[c-1] = j1[i-1]

In [124]:
j1_ori = pd.DataFrame(j1_ori)
j1_ter = pd.DataFrame(j1_ter)

In [125]:
# start julian date
sta_jul = pd.concat([index, j1_ori], axis=1)
sta_jul.columns = ['track-id', 'j1']
sta_jul = sta_jul.set_index('track-id')

In [126]:
sta_jul.head()

               j1
track-id
1         2448989
2         2448989
3         2448989
4         2448989
5         2448989

In [127]:
# end julian date
end_jul = pd.concat([index, j1_ter], axis=1)
end_jul.columns = ['track-id', 'j1']
end_jul = end_jul.set_index('track-id')

In [128]:
end_jul.head()

               j1
track-id
1         2449016
2         2449016
3         2449016
4         2449016
5         2449016

In [129]:
# start date
sta_dat = sta_jul.j1.apply(jday_to_datetime)
sta_dat = pd.DataFrame(sta_dat)
sta_dat = sta_dat.rename(columns = {'j1': 'date'})

In [130]:
sta_dat.head()

                        date
track-id
1        1993-01-01 12:00:00
2        1993-01-01 12:00:00
3        1993-01-01 12:00:00
4        1993-01-01 12:00:00
5        1993-01-01 12:00:00

In [131]:
# end date
end_dat = end_jul.j1.apply(jday_to_datetime)
end_dat = pd.DataFrame(end_dat)
end_dat = end_dat.rename(columns = {'j1': 'date'})

In [134]:
end_dat.head()

                        date
track-id
1        1993-01-28 12:00:00
2        1993-01-28 12:00:00
3        1993-01-28 12:00:00
4        1993-01-28 12:00:00
5        1993-01-28 12:00:00

### duration ###

In [141]:
# duration in days
dur_day = end_dat - sta_dat
dur_day = dur_day.rename(columns = {'date': 'duration'})

In [142]:
dur_day.max()

duration   2196 days
dtype: timedelta64[ns]

In [143]:
dur_day.head()

          duration
track-id
1          27 days
2          27 days
3          27 days
4          27 days
5          27 days

In [144]:
# duration in integers
dur_int = np.zeros(tra_num)

In [145]:
for i in range(tra_num):
    dur_int[i] = np.timedelta64(dur_day.duration[i+1], 'D')/np.timedelta64(1, 'D')

In [146]:
dur_int = pd.DataFrame(dur_int)

In [147]:
dur_int = pd.concat([index, dur_int], axis=1)
dur_int.columns = ['track-id', 'duration-in-days']
dur_int = dur_int.set_index('track-id')
dur_int['duration-in-days'] = dur_int['duration-in-days'].astype(int)

In [148]:
dur_int.head()

          duration in days
track-id
1                       27
2                       27
3                       27
4                       27
5                       27

### area ###

In [150]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448989,1,397.040985,-21.719400,31.473101,146.738998,79.148399
1,1,2,2448990,1,397.015991,-21.760300,30.215599,138.673996,79.141296
2,1,3,2448991,1,397.003998,-21.797701,28.817200,137.839996,78.532097
3,1,4,2448992,1,396.971008,-21.852100,28.791300,136.145996,77.241402
4,1,5,2448993,1,396.945007,-21.871201,27.741199,136.119995,77.705101

In [151]:
L = np.asarray(ds.L)
radius = L*1000

In [152]:
# circle area calculation
area = pi*(radius**2)

In [153]:
sta_area = np.zeros(tra_num)

In [154]:
i = 0
c = 0

while i < obs_num:
    c = int(c) + 1
    sta_area[c-1] = area[i]
    i = i + int(point[c-1])

In [155]:
sta_area = pd.DataFrame(sta_area)

In [156]:
# area in square meters
sta_area = pd.concat([index, sta_area], axis=1)
sta_area.columns = ['track-id', 'start-area']
sta_area = sta_area.set_index('track-id')

In [157]:
sta_area.head()

           start-area
track-id
1         67645825024
2         16862118912
3         19241531392
4         26771619840
5         43122229248

### vorticity ###

In [159]:
# relative vorticity
zeta = np.asarray((df.U*0.01)/(df.L*1000))

In [160]:
# multi-index construction
arrays = [track, n]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['track-id', 'point-id'])

In [161]:
zeta = pd.DataFrame(zeta, index=multi_index)
zeta.columns = ['relative-vorticity']

In [162]:
zeta.head()

                   relative-vorticity
track-id point-id
1        1                   0.000005
         2                   0.000006
         3                   0.000006
         4                   0.000006
         5                   0.000006

In [163]:
lav = np.zeros(tra_num)

In [ ]:
for i in tqdm(range(tra_num)):
    lav[i] = zeta.loc[i+1].mean()

  5%|▌         | 12818/245389 [1:41:11<30:46:14,  2.10it/s]

In [ ]:
lav = pd.DataFrame(lav)

In [ ]:
lav = pd.concat([index, lav], axis=1)
lav.columns = ['track-id', 'relative-vorticity']
lav = lav.set_index('track-id')

In [ ]:
lav.head()

### GeoJSON ###

In [ ]:
from geojson import LineString, Point, Polygon
from pymongo import MongoClient

In [ ]:
# collection
ssh_eddies_2016 = MongoClient().eddies.ssh_eddies_2016

In [ ]:
# remove documents from the collection
ssh_eddies_2016.remove()

In [ ]:
# insert documents into the collection
for i in tqdm(range(1, tra_num+1)):

    # geojson
    eddy = {
        'type': 'FeatureSet',
        '_id': int(_id.loc[i]),
        'date_start': sta_dat.loc[i]['date'],
        'date_end': end_dat.loc[i]['date'],
        'duration': dur_int.loc[i]['duration-in-days'],
        'loc_start': [sta_cen.loc[i]['lon'], sta_cen.loc[i]['lat']],
        'loc_end': [end_cen.loc[i]['lon'], end_cen.loc[i]['lat']],
        'area': sta_area.loc[i]['start-area'],
        'lav': lav.loc[i]['relative-vorticity'],
        'features': [
            {
                'type': 'Feature',
                'properties': {'name': 'start_center'},
                'geometry': Point(tuple(sta_cen.loc[i][['lon', 'lat']].values))
            },
            {
                'type': 'Feature',
                'properties': {'name': 'end_center'},
                'geometry': Point(tuple(end_cen.loc[i][['lon', 'lat']].values))
            },
            {
                'type': 'Feature',
                'properties': {'name': 'trajectory'},
                'geometry': LineString([tuple(x) for x in lin_str.loc[i][['lon', 'lat']].values])
            },
            {
                'type': 'Feature',
                'properties': {'name': 'start_polygon'},
                'geometry': Polygon([[tuple(x) for x in sta_pol.loc[i][['lon', 'lat']].values]])
            },
            {
                'type': 'Feature',
                'properties': {'name': 'end_polygon'},
                'geometry': Polygon([[tuple(x) for x in end_pol.loc[i][['lon', 'lat']].values]])
            }
        ]    
    }
    
    # mongodb
    ssh_eddies_2016.insert_one(dict(eddy))