### data ###

In [1]:
import xarray as xr

In [2]:
# xarray dataset
ds = xr.open_dataset('/home/cz2397/data/ssh-eddies/tracks.20130125.nc', decode_cf=False)
ds

<xarray.Dataset>
Dimensions:  (Nobs: 2590938)
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Data variables:
    track    (Nobs) int32 1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4 5 5 5 5 6 6 6 6 7 ...
    n        (Nobs) int32 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 ...
    j1       (Nobs) int32 2448910 2448917 2448924 2448931 2448910 2448917 ...
    cyc      (Nobs) int32 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
    lon      (Nobs) float32 636.74 635.99 635.82 635.845 560.642 561.447 ...
    lat      (Nobs) float32 -65.0011 -65.1376 -65.2457 -65.2933 -62.5424 ...
    A        (Nobs) float32 1.24564 2.64604 3.40119 1.45836 2.16156 4.87579 ...
    L        (Nobs) float32 44.464 36.7024 45.4221 43.022 63.0697 51.1345 ...
    U        (Nobs) float32 5.97993 8.17373 8.28628 5.20364 4.81408 6.59872 ...
Attributes:
    title: Mesoscale Eddies in Altimeter Observations of SSH
    institution: Oregon State University/CEOAS
    file_name: tracks.20130125.nc
    file_creation_time: 2013May06 15:53:30
    data_process_date: 20130125
    data_start_date: Oct 14, 1992
    data_end_date: Apr  4, 2012
    authors: Dudley Chelton and Michael Schlax
    inquiries_to: Eric Beals (beals@coas.oregonstate.edu)

In [3]:
# track number
ds.track

<xarray.DataArray 'track' (Nobs: 2590938)>
[2590938 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: ordinal
    min: 1
    max: 215184
    long_name: track number
    description: eddy identification number

In [4]:
# observation number
ds.n

<xarray.DataArray 'n' (Nobs: 2590938)>
[2590938 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: ordinal
    min: 4
    max: 307
    long_name: observation number
    description: observation sequence number (7 day intervals)

In [5]:
# julian date
ds.j1

<xarray.DataArray 'j1' (Nobs: 2590938)>
[2590938 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: days
    min: 2448910
    max: 2456001
    long_name: Julian date
    description: date of this observation
    reference: 2448623
    reference_description: Julian date at Jan 1, 1992

In [6]:
# cyclonic
ds.cyc

<xarray.DataArray 'cyc' (Nobs: 2590938)>
[2590938 values with dtype=int32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: boolean
    min: -1
    max: 1
    long_name: cyclonic
    description: cyclonic -1; anti-cyclonic +1

In [7]:
# longitude
ds.lon

<xarray.DataArray 'lon' (Nobs: 2590938)>
[2590938 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: degrees east
    min: 262.901
    max: 649.407
    long_name: longitude
    description: longitude of this observation
    note: To avoid jumps of ~360 deg in eddy tracks when the trajectory wraps around a longitude branch point that might lie in a region of interest, the longitude domain is set to 260E-650E. With this range, the only eddies with trajectories that might be affected will be those passing through the Drake Passage.

In [8]:
# latitude
ds.lat

<xarray.DataArray 'lat' (Nobs: 2590938)>
[2590938 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: degrees north
    min: -75.8862
    max: 79.4768
    long_name: latitude
    description: latitude of this observation (negative for southern hemisphere)

In [9]:
# amplitude
ds.A

<xarray.DataArray 'A' (Nobs: 2590938)>
[2590938 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: cm
    min: 1.00001
    max: 125.935
    long_name: amplitude
    description: magnitude of the height difference between the extremum of SSH within the eddy and the SSH around the contour defining the eddy perimeter

In [10]:
# radius scale
ds.L

<xarray.DataArray 'L' (Nobs: 2590938)>
[2590938 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: km
    min: 9.42582
    max: 444.155
    long_name: radius scale
    description: radius of a circle whose area is equal to that enclosed by the contour of maximum circum-average speed

In [11]:
# maximum circum-averaged speed
ds.U

<xarray.DataArray 'U' (Nobs: 2590938)>
[2590938 values with dtype=float32]
Coordinates:
  * Nobs     (Nobs) int64 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 ...
Attributes:
    units: cm/sec
    min: 0.58823
    max: 563.817
    long_name: maximum circum-averaged speed
    description: average speed of the contour defining the radius scale L

### multi-index ###

In [12]:
from tqdm import tqdm
import numpy as np
import pandas as pd

In [13]:
df = ds.to_dataframe()

In [14]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,2448910,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [15]:
# track number
tra_num = max(df.track)
tra_num

215184

In [77]:
# observation number
obs_num = len(df.n)
obs_num

2590938

In [17]:
track = np.asarray(df.track)
n = np.asarray(df.n)

In [18]:
# multi-index construction
arrays = [track, n]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['track-id', 'point-id'])

In [19]:
j1 = np.asarray(df.j1)
cyc = np.asarray(df.cyc)
lon = np.asarray(df.lon)
lat = np.asarray(df.lat)
A = np.asarray(df.A)
L = np.asarray(df.L)
U = np.asarray(df.U)

In [20]:
matrix = np.zeros((obs_num, 7))

In [21]:
for i in tqdm(range(obs_num)):
    matrix[i][0] = j1[i]
    matrix[i][1] = cyc[i]
    matrix[i][2] = lon[i]
    matrix[i][3] = lat[i]
    matrix[i][4] = A[i]
    matrix[i][5] = L[i]
    matrix[i][6] = U[i]

100%|██████████| 2590938/2590938 [00:06<00:00, 377112.24it/s]

In [22]:
DF = pd.DataFrame(matrix, index=multi_index)
DF.columns = ['j1', 'cyc', 'lon', 'lat', 'A', 'L', 'U']

In [23]:
DF.head()

                        j1  cyc         lon        lat        A          L  \
track-id point-id
1        1         2448910   -1  636.739990 -65.001099  1.24564  44.464001
         2         2448917   -1  635.989990 -65.137604  2.64604  36.702400
         3         2448924   -1  635.820007 -65.245697  3.40119  45.422100
         4         2448931   -1  635.844971 -65.293297  1.45836  43.021999
2        1         2448910   -1  560.642029 -62.542400  2.16156  63.069698

                         U
track-id point-id
1        1         5.97993
         2         8.17373
         3         8.28628
         4         5.20364
2        1         4.81408

### time ###

In [24]:
import datetime, jdcal

In [25]:
def jday_to_datetime(jday, refday=0):
    y, m, d, f = jdcal.jd2gcal(jday, refday)
    h = int(f*24)
    return pd.to_datetime(datetime.datetime(y, m, d, h))

In [26]:
date_fix = DF.j1.apply(jday_to_datetime)

In [27]:
DF.j1 = date_fix
DF = DF.rename(columns = {'j1': 'date'})

In [28]:
DF.head()

                                 date  cyc         lon        lat        A  \
track-id point-id
1        1        1992-10-14 12:00:00   -1  636.739990 -65.001099  1.24564
         2        1992-10-21 12:00:00   -1  635.989990 -65.137604  2.64604
         3        1992-10-28 12:00:00   -1  635.820007 -65.245697  3.40119
         4        1992-11-04 12:00:00   -1  635.844971 -65.293297  1.45836
2        1        1992-10-14 12:00:00   -1  560.642029 -62.542400  2.16156

                           L        U
track-id point-id
1        1         44.464001  5.97993
         2         36.702400  8.17373
         3         45.422100  8.28628
         4         43.021999  5.20364
2        1         63.069698  4.81408

### longitude ###

In [29]:
# longitude range setting
# from -180 to 180
lon_fix_a1 = DF.where(DF.lon < 540).lon - 360
lon_fix_a2 = DF.where(DF.lon >= 540).lon - 720
lon_fix_a = lon_fix_a1
lon_fix_a = lon_fix_a.fillna(lon_fix_a2)
DF.lon = lon_fix_a

In [30]:
DF.head()

                                 date  cyc         lon        lat        A  \
track-id point-id
1        1        1992-10-14 12:00:00   -1  -83.260010 -65.001099  1.24564
         2        1992-10-21 12:00:00   -1  -84.010010 -65.137604  2.64604
         3        1992-10-28 12:00:00   -1  -84.179993 -65.245697  3.40119
         4        1992-11-04 12:00:00   -1  -84.155029 -65.293297  1.45836
2        1        1992-10-14 12:00:00   -1 -159.357971 -62.542400  2.16156

                           L        U
track-id point-id
1        1         44.464001  5.97993
         2         36.702400  8.17373
         3         45.422100  8.28628
         4         43.021999  5.20364
2        1         63.069698  4.81408

In [31]:
# longitude range setting
# from 0 to 360
lon_fix_b1 = DF.where(DF.lon < 0).lon + 360
lon_fix_b2 = DF.where(DF.lon >= 0).lon
lon_fix_b = lon_fix_b1
lon_fix_b = lon_fix_b.fillna(lon_fix_b2)
DF.lon = lon_fix_b

In [32]:
DF.head()

                                 date  cyc         lon        lat        A  \
track-id point-id
1        1        1992-10-14 12:00:00   -1  276.739990 -65.001099  1.24564
         2        1992-10-21 12:00:00   -1  275.989990 -65.137604  2.64604
         3        1992-10-28 12:00:00   -1  275.820007 -65.245697  3.40119
         4        1992-11-04 12:00:00   -1  275.844971 -65.293297  1.45836
2        1        1992-10-14 12:00:00   -1  200.642029 -62.542400  2.16156

                           L        U
track-id point-id
1        1         44.464001  5.97993
         2         36.702400  8.17373
         3         45.422100  8.28628
         4         43.021999  5.20364
2        1         63.069698  4.81408

### radius ###

In [33]:
radius_fix = DF.L*1000
DF.L = radius_fix
DF = DF.rename(columns = {'L': 'radius'})

In [34]:
DF.head()

                                 date  cyc         lon        lat        A  \
track-id point-id
1        1        1992-10-14 12:00:00   -1  276.739990 -65.001099  1.24564
         2        1992-10-21 12:00:00   -1  275.989990 -65.137604  2.64604
         3        1992-10-28 12:00:00   -1  275.820007 -65.245697  3.40119
         4        1992-11-04 12:00:00   -1  275.844971 -65.293297  1.45836
2        1        1992-10-14 12:00:00   -1  200.642029 -62.542400  2.16156

                         radius        U
track-id point-id
1        1         44464.000702  5.97993
         2         36702.400208  8.17373
         3         45422.100067  8.28628
         4         43021.999359  5.20364
2        1         63069.698334  4.81408

### geojson-point ###

In [67]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,2448910,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [78]:
count = df.track
count = count.value_counts(normalize=False, sort=True, ascending=True, bins=None, dropna=False).reindex(range(1, tra_num+1))
count = pd.DataFrame(count)
count.index.name = 'track-id'
count.columns = ['obs-num']

In [79]:
count.head()

          obs-num
track-id
1               4
2               4
3               4
4               4
5               4

In [80]:
lon = np.asarray(DF.lon)
lat = np.asarray(DF.lat)
point = np.asarray(count['obs-num'])

In [81]:
# origin coordinates
lon_ori = np.zeros(tra_num)
lat_ori = np.zeros(tra_num)

In [82]:
# termination coordinates
lon_ter = np.zeros(tra_num)
lat_ter = np.zeros(tra_num)

In [83]:
c = 0
i = 0

while i < obs_num:
    c = int(c) + 1
    lon_ori[c-1] = lon[i]
    lat_ori[c-1] = lat[i]
    i = i + int(point[c-1])
    lon_ter[c-1] = lon[i-1]
    lat_ter[c-1] = lat[i-1]

In [84]:
lon_ori = pd.DataFrame(lon_ori)
lat_ori = pd.DataFrame(lat_ori)
lon_ter = pd.DataFrame(lon_ter)
lat_ter = pd.DataFrame(lat_ter)

In [85]:
# index construction
index = np.zeros(tra_num)
for i in range(tra_num):
    index[i] = i+1
index = pd.DataFrame(index)
index = index.astype(int)

In [86]:
# start center
sta_cen = pd.concat([index, lon_ori, lat_ori], axis=1)
sta_cen.columns = ['track-id', 'lon', 'lat']
sta_cen = sta_cen.set_index('track-id')

In [93]:
sta_cen.head()

                 lon        lat
track-id
1         276.739990 -65.001099
2         200.642029 -62.542400
3         164.956970 -60.751999
4         129.165985 -61.428299
5         293.981995 -60.260300

In [94]:
# end center
end_cen = pd.concat([index, lon_ter, lat_ter], axis=1)
end_cen.columns = ['track-id', 'lon', 'lat']
end_cen = end_cen.set_index('track-id')

In [95]:
end_cen.head()

                 lon        lat
track-id
1         275.844971 -65.293297
2         200.843994 -62.726101
3         166.448975 -61.454601
4         128.390015 -61.127899
5         294.328003 -59.432701

### geojson-linestring ###

In [96]:
lin_str = np.zeros((obs_num, 2))

In [97]:
lon = np.asarray(DF.lon)
lat = np.asarray(DF.lat)

In [98]:
for i in range(obs_num):
    lin_str[i][0] = lon[i]
    lin_str[i][1] = lat[i]

In [99]:
lin_str = pd.DataFrame(lin_str, index=multi_index, columns=['lon', 'lat'])

In [100]:
lin_str.head()

                          lon        lat
track-id point-id
1        1         276.739990 -65.001099
         2         275.989990 -65.137604
         3         275.820007 -65.245697
         4         275.844971 -65.293297
2        1         200.642029 -62.542400

### geojson-polygon ###

In [101]:
from numpy import cos, pi, sin

In [105]:
radius = np.asarray(DF.radius)
point = np.asarray(count['obs-num'])

In [106]:
rad_ori = np.zeros(tra_num)
rad_ter = np.zeros(tra_num)

In [107]:
c = 0
i = 0

while i < obs_num:
    c = int(c) + 1
    rad_ori[c-1] = radius[i]
    i = i + int(point[c-1])
    rad_ter[c-1] = radius[i-1]

In [108]:
rad_ori = pd.DataFrame(rad_ori)
rad_ter = pd.DataFrame(rad_ter)

In [111]:
# start circle
sta_cir = pd.concat([index, lon_ori, lat_ori, rad_ori], axis=1)
sta_cir.columns = ['track-id', 'lon', 'lat', 'radius']
sta_cir = sta_cir.set_index('track-id')

In [112]:
sta_cir.head()

                 lon        lat        radius
track-id
1         276.739990 -65.001099  44464.000702
2         200.642029 -62.542400  63069.698334
3         164.956970 -60.751999  66748.397827
4         129.165985 -61.428299  76040.702820
5         293.981995 -60.260300  41596.801758

In [113]:
# end circle
end_cir = pd.concat([index, lon_ter, lat_ter, rad_ter], axis=1)
end_cir.columns = ['track-id', 'lon', 'lat', 'radius']
end_cir = end_cir.set_index('track-id')

In [114]:
end_cir.head()

                 lon        lat        radius
track-id
1         275.844971 -65.293297  43021.999359
2         200.843994 -62.726101  55183.399200
3         166.448975 -61.454601  94783.096313
4         128.390015 -61.127899  59744.499207
5         294.328003 -59.432701  66219.902039

In [115]:
# circle center number
cen_num = tra_num

In [117]:
# circle arc number
arc_num = tra_num*33

In [118]:
center = np.zeros(arc_num)
arc = np.zeros(arc_num)

In [119]:
c = 1
i = 0
j = 1

while i < arc_num:
    while c <= 33:
        center[i] = j
        i = i+1
        c = c+1
    j = j+1
    c = 1

In [120]:
center = center.astype(int)

In [122]:
c = 1
i = 0
j = 1

while i < arc_num:
    while c <= 33:
        arc[i] = j
        i = i+1
        j = j+1
        c = c+1
    j = 1
    c = 1

In [123]:
arc = arc.astype(int)

In [124]:
# multi-index construction
arrays = [center, arc]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['center', 'arc'])

In [125]:
# earth radius in meters
R = 6371*1000

__start polygon__

In [127]:
lon = np.asarray(sta_cir.lon)
lat = np.asarray(sta_cir.lat)
radius = np.asarray(sta_cir.radius)

In [129]:
theta = np.zeros(cen_num)
x = np.zeros(cen_num)
y = np.zeros(cen_num)
r = np.zeros(cen_num)

In [130]:
for i in range(cen_num):
    theta[i] = lat[i]*(pi/180)
    r[i] = R*cos(theta[i])
    x[i] = (radius[i]/r[i])*(180/pi)
    y[i] = (radius[i]/R)*(180/pi)

In [131]:
lon_sta_pol = np.zeros(arc_num)
lat_sta_pol = np.zeros(arc_num)
x_sta_pol = np.zeros(arc_num)
y_sta_pol = np.zeros(arc_num)

In [132]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lon_sta_pol[i] = lon[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [133]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lat_sta_pol[i] = lat[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [134]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        x_sta_pol[i] = x[c]*cos((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [135]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        y_sta_pol[i] = y[c]*sin((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [136]:
sta_pol = np.zeros((arc_num, 2))

In [137]:
for i in range(arc_num):
    sta_pol[i][0] = lon_sta_pol[i]+x_sta_pol[i]
    sta_pol[i][1] = lat_sta_pol[i]+y_sta_pol[i]

In [138]:
# start polygon
sta_pol = pd.DataFrame(sta_pol, index=multi_index)
sta_pol.columns = ['lon', 'lat']

In [141]:
sta_pol.head()

                   lon        lat
center arc
1      1    277.686212 -65.001099
       2    277.668031 -64.923087
       3    277.614186 -64.848073
       4    277.526745 -64.778940
       5    277.409070 -64.718345

__end polygon__

In [142]:
lon = np.asarray(end_cir.lon)
lat = np.asarray(end_cir.lat)
radius = np.asarray(end_cir.radius)

In [143]:
theta = np.zeros(cen_num)
r = np.zeros(cen_num)
x = np.zeros(cen_num)
y = np.zeros(cen_num)

In [145]:
for i in range(cen_num):
    theta[i] = lat[i]*(pi/180)
    r[i] = R*cos(theta[i])
    x[i] = (radius[i]/r[i])*(180/pi)
    y[i] = (radius[i]/R)*(180/pi)

In [146]:
lon_end_pol = np.zeros(arc_num)
lat_end_pol = np.zeros(arc_num)
x_end_pol = np.zeros(arc_num)
y_end_pol = np.zeros(arc_num)

In [153]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lon_end_pol[i] = lon[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [154]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        lat_end_pol[i] = lat[c]
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [155]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        x_end_pol[i] = x[c]*cos((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [156]:
c = 0
i = 0
j = 1

while i < arc_num:
    while j <= 33:
        y_end_pol[i] = y[c]*sin((j-1)*(pi/16))
        i = i+1
        j = j+1
    j = 1
    c = c+1

In [157]:
end_pol = np.zeros((arc_num, 2))

In [158]:
for i in range(arc_num):
    end_pol[i][0] = lon_end_pol[i]+x_end_pol[i]
    end_pol[i][1] = lat_end_pol[i]+y_end_pol[i]

In [159]:
# end polygon
end_pol = pd.DataFrame(end_pol, index=multi_index)
end_pol.columns = ['lon', 'lat']

In [160]:
end_pol.head()

                   lon        lat
center arc
1      1    276.770642 -65.293297
       2    276.752856 -65.217815
       3    276.700180 -65.145234
       4    276.614639 -65.078343
       5    276.499519 -65.019713

### id ###

In [161]:
_id = pd.DataFrame(index)
_id = pd.concat([index, index], axis=1)
_id.columns = ['track-id', 'id']
_id = _id.set_index('track-id')

In [162]:
_id.head()

          id
track-id
1          1
2          2
3          3
4          4
5          5

### date ###

In [163]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,2448910,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [164]:
j1 = np.asarray(df.j1)

In [165]:
j1_ori = np.zeros(tra_num)
j1_ter = np.zeros(tra_num)

In [166]:
c = 0
i = 0

while i < obs_num:
    c = int(c) + 1
    j1_ori[c-1] = j1[i]
    i = i + int(point[c-1])
    j1_ter[c-1] = j1[i-1]

In [168]:
j1_ori = pd.DataFrame(j1_ori)
j1_ter = pd.DataFrame(j1_ter)

In [169]:
# start julian date
sta_jul = pd.concat([index, j1_ori], axis=1)
sta_jul.columns = ['track-id', 'j1']
sta_jul = sta_jul.set_index('track-id')

In [170]:
sta_jul.head()

               j1
track-id
1         2448910
2         2448910
3         2448910
4         2448910
5         2448910

In [171]:
# end julian date
end_jul = pd.concat([index, j1_ter], axis=1)
end_jul.columns = ['track-id', 'j1']
end_jul = end_jul.set_index('track-id')

In [173]:
end_jul.head()

               j1
track-id
1         2448931
2         2448931
3         2448931
4         2448931
5         2448931

In [174]:
# start date
sta_dat = sta_jul.j1.apply(jday_to_datetime)
sta_dat = pd.DataFrame(sta_dat)
sta_dat = sta_dat.rename(columns = {'j1': 'date'})

In [175]:
sta_dat.head()

                        date
track-id
1        1992-10-14 12:00:00
2        1992-10-14 12:00:00
3        1992-10-14 12:00:00
4        1992-10-14 12:00:00
5        1992-10-14 12:00:00

In [200]:
# end date
end_dat = end_jul.j1.apply(jday_to_datetime)
end_dat = pd.DataFrame(end_dat)
end_dat = end_dat.rename(columns = {'j1': 'date'})

In [201]:
end_dat.head()

                        date
track-id
1        1992-11-04 12:00:00
2        1992-11-04 12:00:00
3        1992-11-04 12:00:00
4        1992-11-04 12:00:00
5        1992-11-04 12:00:00

### duration ###

In [202]:
# duration in days
dur_day = end_dat - sta_dat
dur_day = dur_day.rename(columns = {'date': 'duration'})

In [203]:
dur_day.max()

duration   2142 days
dtype: timedelta64[ns]

In [204]:
dur_day.head()

          duration
track-id
1          21 days
2          21 days
3          21 days
4          21 days
5          21 days

In [259]:
# duration in integers
dur_int = np.zeros(tra_num)

In [260]:
for i in range(tra_num):
    dur_int[i] = np.timedelta64(dur_day.duration[i+1], 'D')/np.timedelta64(1, 'D')

In [261]:
dur_int = pd.DataFrame(dur_int)

In [262]:
dur_int = pd.concat([index, dur_int], axis=1)
dur_int.columns = ['track-id', 'duration-in-days']
dur_int = dur_int.set_index('track-id')
dur_int['duration-in-days'] = dur_int['duration-in-days'].astype(int)

In [263]:
dur_int.head()

          duration-in-days
track-id
1                       21
2                       21
3                       21
4                       21
5                       21

### area ###

In [240]:
df.head()

,track,n,j1,cyc,lon,lat,A,L,U
Nobs,,,,,,,,,
0,1,1,2448910,-1,636.739990,-65.001099,1.24564,44.464001,5.97993
1,1,2,2448917,-1,635.989990,-65.137604,2.64604,36.702400,8.17373
2,1,3,2448924,-1,635.820007,-65.245697,3.40119,45.422100,8.28628
3,1,4,2448931,-1,635.844971,-65.293297,1.45836,43.021999,5.20364
4,2,1,2448910,-1,560.642029,-62.542400,2.16156,63.069698,4.81408

In [241]:
L = np.asarray(ds.L)
radius = L*1000

In [242]:
# circle area calculation
area = pi*(radius**2)

In [243]:
sta_area = np.zeros(tra_num)

In [244]:
i = 0
c = 0

while i < obs_num:
    c = int(c) + 1
    sta_area[c-1] = area[i]
    i = i + int(point[c-1])

In [245]:
sta_area = pd.DataFrame(sta_area)

In [246]:
# area in square meters
sta_area = pd.concat([index, sta_area], axis=1)
sta_area.columns = ['track-id', 'start-area']
sta_area = sta_area.set_index('track-id')

In [247]:
sta_area.head()

           start-area
track-id
1          6211077632
2         12496586752
3         13996891136
4         18165280768
5          5435878912

### vorticity ###

In [249]:
# relative vorticity
zeta = np.asarray((df.U*0.01)/(df.L*1000))

In [250]:
# multi-index construction
arrays = [track, n]
tuples = list(zip(*arrays))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['track-id', 'point-id'])

In [251]:
zeta = pd.DataFrame(zeta, index=multi_index)
zeta.columns = ['relative-vorticity']

In [253]:
zeta.head()

                   relative-vorticity
track-id point-id
1        1               1.344892e-06
         2               2.227029e-06
         3               1.824284e-06
         4               1.209530e-06
2        1               7.632953e-07

In [254]:
lav = np.zeros(tra_num)

In [255]:
for i in tqdm(range(tra_num)):
    lav[i] = zeta.loc[i+1].mean()

100%|██████████| 215184/215184 [54:03<00:00, 64.27it/s]

In [256]:
lav = pd.DataFrame(lav)

In [257]:
lav = pd.concat([index, lav], axis=1)
lav.columns = ['track-id', 'relative-vorticity']
lav = lav.set_index('track-id')

In [258]:
lav.head()

          relative-vorticity
track-id
1               1.651434e-06
2               8.582187e-07
3               1.343490e-06
4               1.854057e-06
5               2.503743e-06

### GeoJSON ###

In [264]:
from geojson import LineString, Point, Polygon
from pymongo import MongoClient

In [265]:
# collection
ssh_eddies_2013 = MongoClient().eddies.ssh_eddies_2013

In [266]:
# remove documents from the collection
ssh_eddies_2013.remove()

-c:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{u'n': 0, u'ok': 1}

In [ ]:
# insert documents into the collection
for i in tqdm(range(1, tra_num+1)):

    # geojson
    eddy = {
        'type': 'FeatureSet',
        '_id': int(_id.loc[i]),
        'date_start': sta_dat.loc[i]['date'],
        'date_end': end_dat.loc[i]['date'],
        'duration': dur_int.loc[i]['duration-in-days'],
        'loc_start': [sta_cen.loc[i]['lon'], sta_cen.loc[i]['lat']],
        'loc_end': [end_cen.loc[i]['lon'], end_cen.loc[i]['lat']],
        'area': sta_area.loc[i]['start-area'],
        'lav': lav.loc[i]['relative-vorticity'],
        'features': [
            {
                'type': 'Feature',
                'properties': {'name': 'start_center'},
                'geometry': Point(tuple(sta_cen.loc[i][['lon', 'lat']].values))
            },
            {
                'type': 'Feature',
                'properties': {'name': 'end_center'},
                'geometry': Point(tuple(end_cen.loc[i][['lon', 'lat']].values))
            },
            {
                'type': 'Feature',
                'properties': {'name': 'trajectory'},
                'geometry': LineString([tuple(x) for x in lin_str.loc[i][['lon', 'lat']].values])
            },
            {
                'type': 'Feature',
                'properties': {'name': 'start_polygon'},
                'geometry': Polygon([[tuple(x) for x in sta_pol.loc[i][['lon', 'lat']].values]])
            },
            {
                'type': 'Feature',
                'properties': {'name': 'end_polygon'},
                'geometry': Polygon([[tuple(x) for x in end_pol.loc[i][['lon', 'lat']].values]])
            }
        ]    
    }
    
    # mongodb
    ssh_eddies_2013.insert_one(dict(eddy))

  4%|▍         | 9288/215184 [46:38<17:37:28,  3.25it/s]